.About-container{
  background: #edf1f5;
  display: flex;

.About{
  padding: 40px 5%;

  .text{
    text-align: justify;
    margin: 20px 0;
  }

  .googlePlay{
    padding: 0 25px;
    margin-top: 30px;

    p{
      margin: 8px 0;
      margin-left: 5px;      
    }

    span{
      font-size: 14px;
    }

  }
}
  
  img{
    display: none;
  }
}

@media (min-width:768px){
  .About-container{

    img{
      display: block;
    }
  }
}