.About{
  background: #efefef;
  padding: 20px 5%;

  p{
    text-align: justify;
  }

  .googlePlay{
    color: #283033;
    padding: 0 25px;

    p{
      margin: 8px 0;
      margin-left: 5px;      
    }

    span{
      font-size: 14px;
    }
  }
}