.Card {
  width: 250px;
  height: 330px;
  text-align: center;
  padding: 30px;
  border: 1px solid black;
  h3 {
    color: #5f3fff;
    font-size: 16px;
  }
  p {
    font-size: 13px;
    line-height: 1.5
  }
}