.HowItWorks{
  padding: 40px 5%;
  background: #edf1f5;

  &-description{
    h3{
      font-size: 20px;
      color: #5f3fff;
      font-weight: normal;
      margin-bottom: 10px;
    }
  }

  &-CardInfo{
    .CardInfo{
      h3, p{
        width: 80%;
      }
    }

  }
  
  .image{
    display: none;
  }
}