.Title{
  font-size: 35px;
  color: #5f3fff;
  text-align: center;
  font-weight: normal;

  hr{
    color: #5f3fff;
    height: 3px;
    width: 40px;
    position: relative;
    top: -15px;
    background: #5f3fff;
    border: 0
  }
}