.Title{
  font-size: 35px;
  color: #38b7df;
  text-align: center;
  font-weight: normal;

  hr{
    height: 3px;
    width: 70px;
    position: relative;
    top: -15px;
    background: #38b7df;
    border: 0
  }
}