.BoxInfo{
  margin: 35px auto;
  padding: 40px;
  box-shadow: 0 0 10px 1px #aaa;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 400px;

  h3{
    display: inline-block;
    font-weight: normal;
    margin: 0;
    margin-bottom: 10px;
  }

  .progressBar{
    
  }

  p{
    font-size: 40px;
    display: inline-block;
    margin: 0;

    span{
      font-size: 18px;
    }
  }
}

@media(min-width:1024px){
  .BoxInfo{
    min-width: 250px;
  }
}