.Features2{
  padding: 40px 5%;
  background:linear-gradient(to bottom right, #5f3fff, #8DDEFF);  
  
  
  .Title{
    color: #fff;
    hr{
      background: #fff;
    }
  }

  &-description{
    p{
      margin: 40px 0;
    }
  }

  .Features2-CardInfo{
    margin: 50px 0;
    border-top: 1px solid rgba(255,255,255,.3);

    .image{
      display: none;
    }
  }

  h3{
    color: #fff;
  }

  p{
    color: #fff;
    text-align: center;
    font-size: 14px;
    
  }
}