$primary-color: #283033;
// $primary-color-dark: darken($primary-color, 10);
// $primary-color-light: lighten($primary-color, 10);

$secondary-color: #0893C3;
// $secondary-color-dark: darken($secondary-color, 10);
// $secondary-color-light: lighten($secondary-color, 10);

$algumacoisa-color:#38B7DF;

$outracoisa-color:#8DDEFF;

$color-color:#5F3FFF;

// $light-color: #F5F5F5;
// $text-color: #4A4A4A;
