$blue:#028cc0;
$lightBlue:#8DDEFF;


.scroll{
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
}

.Navbar{

  svg{
    width: 50px;
    height: 50px;
    padding: 15px;
    cursor: pointer;
    position: relative;
    z-index: 100;
    
  }
  
  &-list{
    list-style-type: none;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 75px;
    right: 0;
    transition: .5s;
    text-align: center;
    background: linear-gradient(to bottom, #0893c3, #8ddeff);
    padding: 20px 0;
    z-index: 10;
    
    li{

      a{
        text-decoration: none;
        color: #fff;
        transition: .3s;
        display: block;
        padding: 20px;
        
      }

      a:hover{
        color:$lightBlue;
      }
    }
  }

}

.menuActive{
  .Navbar-list{
    margin: 0;
    box-shadow: -5px 0px 25px rgba(80,80,80,.5);
    
  }
}