.Features{
  padding: 40px 5%;

  &-BoxFeatures{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .image{
    display: none;
    margin: auto;
    position: relative;
    top: 25px
  }
}

@media (min-width: 768px){
  .Features{

    &-BoxFeatures{
      flex-wrap: unset;
    }

    .image{
      display: block;
    }
  }
}