.Features{
  padding: 40px 5%;

  &-BoxFeatures{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .image{
    display: none;
  }
}

@media (min-width: 768px){
  .Features{

    &-BoxFeatures{
      flex-wrap: unset;
    }
  }
}