.Hero{
  background:linear-gradient(to bottom right, #5f3fff, #8DDEFF);  

  .slogan-container{
    padding: 50px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    img{
      display: none;
    }
  }

  .slogan{
    width: 400px;
    display: inline-block;

    .title{
      font-size: 80px;
      color: #fff;
      
    }

    .subTitle{
      font-weight: normal;
      color: #fff;
      font-size: 20px;
      
    }

    p{
      font-size: 13px;
      line-height: 1.5;
      color: #fff;
      margin-top: 20px;
    }

    .buttons{
      display: flex;
      margin-top: 40px;
    }
  }
}