
.Button {
  background-color: transparent;
  border: 1px solid #FFF;
  border-radius: 3em;
  color:#fff ;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 25px;
  outline: 0;
  &.default {
    border: 0;
    color: #FFF;
    background: linear-gradient(to bottom right, #8ddeff, #0893c3);
    transition: all .3s ease-out;
    margin-right: 15px;
    box-shadow:0 2px 10px 1px rgba(10,10,10,.2);
    
    svg{
      margin-right: 5px
    }
  }
  &.googlePlay{
    text-align: start;
    
    svg{
      margin-right: 5px;
    }
  }
}